*{
    margin: 0;
    padding: 0;
}
/*- scrollbar -*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255, 246, 246, 0.31);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical:hover{
    background-color: #666;
}
::-webkit-scrollbar-thumb:vertical:active{
    background-color: #333;
}
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-track{
    background-color: #242148;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 246, 246, 0.1);
}
/*动态*/
.activity{
    width: 80%;
    height: 100%;
    /*outline: 1px solid green;*/
    margin-left: 10%;
    overflow: hidden;
}
.myTitle{
    color: #FFF6F6;
    font-size: 1.75em;
    float: left;
    /*margin-left: 8%;*/
    margin-top: 5%;
}
.activityTxt{
    /*float: right;*/
    width: 100%;
    /*height: 40%;*/
    /*outline:1px solid cadetblue;*/
    margin-top: 11%;
    margin-bottom: 0.5%;

}
.activityTxt ul{
    background-color: rgba(36, 33, 72, 0.6);
}
.activityTxt ul>li{
    height: 25px;
    /*line-height: 45px;*/
    border-bottom: 1px solid rgb(221,221,221);
    padding: 13px 10px;
}
.activityTxt ul>li>span:nth-of-type(1){
    margin-right: 3%;
    display: inline-block;
    /*line-height: 45px;*/
    color: #FFF6F6;
    font-size: 14px;

    /*height: 20px;*/
    /*line-height: 20px;*/
    padding-top: -10px;
}
.activityTxt ul>li>span{
    color: #bfb6b6;
    font-size: 12px;
    /*outline: 1px solid green;*/
}
.activityTxt ul>li>span:nth-of-type(2){
    display: inline-block;
    width: 30%;
    overflow: hidden;
    /*溢出部分成点*/
    text-overflow: ellipsis;
    /*不换行*/
    word-break: keep-all;
    white-space: nowrap;
}
.activityTxt ul>li>span:nth-of-type(3){
    float: right;
    color: #FFF6F6;
    font-size: 12px;
}